{% extends 'inventory/inventory_base.html' %}
{% load static %}

{% block inventory_child %}

<link rel="stylesheet" href="{% static 'css/crud_styling.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class="wrapper">
    <div class="header">
        <h2>Supplier List</h2>
        <a href="/inventory/suppliers/create/" class="btn-add">
            <span class="plus-icon">+</span> Add Supplier
        </a>
    </div>

    <div class="table-container">
        <table class="data-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Contact Person</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for s in suppliers %}
                <tr>
                    <td>{{ s.name }}</td>
                    <td>{{ s.contact_person|default:"-" }}</td>
                    <td>{{ s.phone_number|default:"-" }}</td>
                    <td>{{ s.email|default:"-" }}</td>
                    <td class="actions">
                        <a href="{% url 'inventory:edit_supplier' s.id %}" class="edit-btn" title="Edit">
                            <i class="fa fa-pencil"></i>
                        </a>

                        <!-- <a href="{% url 'inventory:delete_supplier' s.id %}" 
                        class="delete-btn" 
                        title="Delete"
                        onclick="return confirm('Are you sure you want to delete supplier: {{ s.name }}?')">
                            <i class="fa fa-trash"></i>
                        </a> -->
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" style="text-align: center;">No suppliers found.</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}
