{% extends 'inventory/inventory_base.html' %}
{% load static %}

{% block inventory_child %}

<link rel="stylesheet" href="{% static 'css/crud_styling.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class="wrapper">

    <!-- Header Section -->
    <div class="header">
        <h2>Warehouse List</h2>

        <a href="/inventory/warehouses/create/" class="btn-add">
            <span class="plus-icon">+</span> Add Warehouse
        </a>
    </div>

    <!-- Table Section -->
    <div class="table-container">
        <table class="data-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for w in warehouses %}
                <tr>
                    <td>{{ w.name }}</td>
                    <td>{{ w.location }}</td>

                    <td class="actions">
                        <a href="/inventory/warehouses/edit/{{ w.id }}/" class="edit-btn" title="Edit">
                            <i class="fa fa-pencil"></i>
                        </a>

                        <a href="/inventory/warehouses/delete/{{ w.id }}/" class="delete-btn" title="Delete">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>


<link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

{% endblock %}
